

.access p{
    color: #f0f0f0;
    
}

.access__container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 90vh;
  background-color: transparent;
  backdrop-filter: blur(30px);
  border-radius: 20px;
  overflow: hidden;
}

.access__forms--container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.access__signin--signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.access__signup--form{
  opacity: 0;
  z-index: 1;
}

form.access__signin--form {
  z-index: 2;
}

.access__title {
  font-size: 2.2rem;
  color: #fff;
  margin-bottom: 10px;
}

.access__input--field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.access__input--field i {
  text-align: center;
  line-height: 55px;
  color: #f0f0f0;
  transition: 0.5s;
  font-size: 1.1rem;
}

.access__input--field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #fff;
}

.access__input--field input::placeholder {
  color: #aaa;
  font-weight: 500;
}

.access__social--text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.access__social--media {
  display: flex;
  justify-content: center;
}

.access__social--icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #C152CD;
  border-radius: 50%;
  border: 1px solid #C152CD;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.access__social--icon:hover {
  color: #C152CD;
  border-color: #747DE1;
}

.access__btn {
  width: 150px;
  background-color: #747DE1;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.access__btn:hover {
  background-color: #4d84e2;
}
.access__panels--container{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.access__container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #C152CD 0%, #04befe 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.access__image {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.access__panel {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.leftPanel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
}

.rightPanel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
}

.access__panel .access__content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.access__panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 1.5rem;
}

.access__panel p {
  font-size: 0.95rem;
  padding: 0.7rem 0;
}

.access__btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 130px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
}

.rightPanel .access__image,
.rightPanel .access__content {
  transform: translateX(800px);
}

/* ANIMATION */

.access__container .sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.access__container .sign-up-mode .leftPanel .access__image,
.access__container .sign-up-mode .leftPanel .access__content {
  transform: translateX(-800px);
}

.access__container .sign-up-mode .access__signin--signup {
  left: 25%;
}

.access__container .sign-up-mode form.access__signup--form{
  opacity: 1;
  z-index: 2;
}

.access__container .sign-up-mode form.access__signin--form {
  opacity: 0;
  z-index: 1;
}

.access__container .sign-up-mode .rightPanel .access__image,
.access__container .sign-up-mode .rightPanel .access__content {
  transform: translateX(0%);
}

.access__container .sign-up-mode .leftPanel {
  pointer-events: none;
}

.access__container .sign-up-mode .rightPanel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .access__container {
    min-height: 800px;
    height: 100vh;
  }
  .access__signin--signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .access__signin--signup,
  .access__container.sign-up-mode .access__signin--signup {
    left: 50%;
  }

  .access__panels--container{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .access__panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .rightPanel {
    grid-row: 3 / 4;
  }

  .leftPanel {
    grid-row: 1 / 2;
  }

  .access__image {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .access__panel .access__content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .access__panel h3 {
    font-size: 1.2rem;
  }

  .access__panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .access__btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .access__container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .access__container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .access__container.sign-up-mode .leftPanel .access__image,
  .access__container.sign-up-mode .leftPanel .access__content {
    transform: translateY(-300px);
  }

  .access__container.sign-up-mode .rightPanel .access__image,
  .access__container.sign-up-mode .rightPanel .access__content {
    transform: translateY(0px);
  }

  .rightPanel .access__image,
  .rightPanel .access__content {
    transform: translateY(300px);
  }

  .access__container.sign-up-mode .access__signin--signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .access__image {
    display: none;
  }
  .panel .access__content {
    padding: 0.5rem 1rem;
  }
  .access__container {
    padding: 1.5rem;
  }

  .access__container:before {
    bottom: 72%;
    left: 50%;
  }

  .access__container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}
