.appContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(calc(-50% - 0.5px));
  width: 73%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
