.dashboard {
  width: 100%;
  position: relative;
  height: 70vh;
  background-color: #201f2224;
  backdrop-filter: blur(60px);
  border-radius: 4rem;
  border: 0.1rem solid #ffffff33;
}
.dashboard__container {
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
}
