.active-library {
  overflow-y: scroll;
}
.active-library .library-songs {
  flex: 1;
  display: flex;
  margin: auto;
  min-height: min-content; /* needs vendor prefixes */
}
.library .heading-container {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.library h2 {
  padding-left: 0.5rem;
}
.library button {
  background: transparent;
  width: 50px;
  height: 40px;
  border-radius: 10%;
  margin: 0.4rem;
  cursor: pointer;
  border: none;
  padding: 0.1rem;
  transition: all 0.3s ease;
}

.library button:hover {
  color: white;
  background: #03a9f4;
}
.active-library {
  transform: translateX(0%);
  opacity: 1;
}
.library-songs {
  display: flex;
  flex-direction: column;
  width: 25%;
  min-height: min-content; /* needs vendor prefixes */
}
.library-song {
  display: flex;
  flex-direction: row;
  margin: 0.1rem 0rem;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: background 0.5s ease;
}

.library-song:hover {
  background-color: #67daff;
}
.library-song img {
  width: 30%;
  height: 30%;
}
.active h3,
.active h4 {
  background: #03a9f4;
  color: white;
  font-weight: bold;
}
.song-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.song-description h3 {
  padding-left: 1rem;
  padding-top: 0rem;
  padding-bottom: 0.4rem;
  font-size: 1rem;
}
.song-description h4 {
  padding-left: 1rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.7rem;
}
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}
*::-webkit-scrollbar {
  width: 5px;
  height: 100%;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(155, 155, 155, 0.5);
  border-radius: 20px;
  border: transparent;
}
@media screen and (max-width: 768px) {
  .library {
    width: 100vw;
  }
  .library-song img {
    width: 20%;
    height: 20%;
  }
}
