.player__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.player .player__right {
  min-width: 325px;
}
.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background: #170036;
  border-radius: 20px;
  width: fit-content;
  padding: 5px;
}

.player button {
  border: 0;
  border-radius: 50%;
  background-color: transparent;
}

.song-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.song-container img {
  width: 115px;
  border-radius: 5%;
  margin: 1rem;
}

.time-control p {
  margin: 0 1rem;
  font-size: 14px;
}
.time-control {
  width: 90%;
  display: flex;
}
.time-control input {
  width: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
.play__control {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.player .player__top .play__control .play__playBtn {
  border-radius: 50%;
  color: #9e8cef;
  cursor: pointer;
}

.player .player__top .play__control .play__skipBtn {
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  color: #9e8cef;
}

input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}
input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}
.track {
  background: #9E8CEF;
  border: 8px solid #72728B;
  border-radius: 20px;
  width: 60%;
  height: 5px;
  position: relative;
  overflow: hidden;
}
.animate-track {
  background: #ccc;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}
@media screen and (max-width: 768px) {
  .time-control {
    width: 90%;
  }
  .play-control {
    width: 60%;
  }
}
