.player {
  border-radius: 20px;
  max-width: 25em;
  max-height: 12em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #0a002050 !important;
  padding: 1rem;
}

button {
  border: 0px;
  background: transparent;
  outline: none;
}
.disabled {
  color: grey;
}

.track {
  width: 70%;
  height: 110%;
  border-radius: 20px;
  display: flex;
  background: #ffffff52;
  justify-content: center;
  align-items: center;
  position: relative;
}
.track_container {
  margin-top: 0.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 12px;
  width: 100%;
  position: relative;
}

.song-container {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: flex-start;
}
.song-container > img {
  margin-right: 1rem;
  width: 80%;
  border-radius: 20px;
  height: auto;
}

.song-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.song-info > h2 {
  font-family: "Museo Sans Rounded 500";
}
.song-info > h4 {
  font-family: "Museo Sans Rounded 100";
}
.track_container > p {
  min-width: 1rem;
  font-family: "Museo Sans Rounded 100";
}

.play-control {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 50%;
}
.play-controlBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.play-control svg {
  color: white;
  width: 30px !important;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  background-color: #ffffff52;
}
.play-control .play svg {
  width: 20px !important;
  height: 20px;
  padding: 15px;
  align-items: center;
  color: #9e8cef;
  background-color: #f8f8f8;
}
.play-control .play svg:hover {
  transform: scale(1.1);
}
.player__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.time-control {
  width: 92%;
  height: 80%;
}

.time-control:focus {
  outline: none;
}
.time-control::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 8px;
  width: 8px;
}
.time-control::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
  background-color: #30dfb324;
}

.track {
  width: 70%;
  height: 5px;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.track > input {
  width: 100%;
  background: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}
/* 
// seekbar customization */
input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  background: transparent;
  border: none;
}

.animate-track {
  background: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(0%);
  pointer-events: none;
}
