.dashboard__timer h3,
.dashboard__timer h4{
  color: white;
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 3px;
}

.dashboard__timer h4{
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 10px;
}

.dashboard__timer {
  width: 100%;
  height: 50%;
  background-color: rgba(105, 130, 194, 0.103);
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.dashboard__timer button {
  color:#9E8CEF;
  font-size: 20px;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  padding: 5px;
  outline: 0;
  margin-bottom: 10px;
}

.setTimer {
  text-align: center;
}
.setTimer__input {
  margin: 1.5rem;
}
.setTimer__input input {
  width: 80px;
  padding: 2rem 1.5rem;
  background: radial-gradient(#ffffff, #a872ee);
  color:#340078;
  border-radius: 50%;
  font-weight: 400;
  font-size: 50px;
  border: none;
  text-align: center;
  outline: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.dashboard__timer__button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dashboard__timer__button button{
  background: #fff;
  color: #9E8CEF;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
}

.setTimer__button{
  background: #fff;
  color: #9E8CEF;
  font-size: 20px;
  font-weight: 600;
}

.dashboard__timer button:hover,
.dashboard__timer__button__play:hover,
.dashboard__timer__button__pause:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 10px rgba(225, 225, 255, 0.2);
}

.dashboard__timer button:active,
.dashboard__timer__button__play:active,
.dashboard__timer__button__pause:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

