.quotes {
  width: 90%;
  height: 38%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--font-white);
}

.quotes__left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  width: 73%;
  height: 60%;
}

.quotes__right {
  width: 27%;
}

.quotes__time > h1 {
  font-size: 75px;
}

.quotes__greeting > h1 {
  font-size: 30px;
  margin-bottom: 0.4rem;
}
.apiQuote {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  height: 5rem;
}

.apiQuote:hover > .apiQuote__author {
  visibility: visible;
  opacity: 1;
}

.apiQuote__author {
  margin-top: 0.5rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
  text-align: center;
}
